---
layout: default
title: Passions
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts</h1>
  <ul class="posts noList">
    {% for post in paginator.posts %}
    <li>
      <span class="date">{{ post.date | date: '%B %d, %Y' }} • <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread">0 Comments</a></span>

      <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
      <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>

      <!-- Ads -->
      <div align="center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-fg+5c+8n-ea-4q"
             data-ad-client="ca-pub-8868125703866749"
             data-ad-slot="2791877312"></ins>
        <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>

    </li>
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
